
 .search{
    padding-top: 128px;
    margin-bottom: 100px;
    &__item{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__label{
        padding: 20px 80px;
        min-width: 235px;
        margin-left: 19px;
        border: 1px solid $main-color;
    }
    &__input{
        padding: 20px 15px;
        min-width: 245px;
        margin-right: 10px;
        text-align: center;
        border: 1px solid $main-color;
        outline: none;
    }
    &__block{
        position: relative;
        display: flex;
    }
    &__placeholder{
            position: absolute;
            width: 100px;
            height: 20px;
            left: 88%;
            top: 37%;
            color: #666;
            font-size: smaller;
            &::before{
                content: "";
                width: 20px;
                border-bottom: 1px solid $active-color;
            }
        }
        &__text{
            position: absolute;
            left: 80%;
            top: 34%;
            &--01{
                position: absolute;
                top: 99px;
                left: 77px;
            }
            &--02{
                position: absolute;
                top: 99px;
                right: 66px;
            }
        }
        &__range{
            margin: 17px 69px;
            -webkit-appearance: none;
            width:365px;
            height: 1px;
            outline : none;
            background:$main-color;
            position: relative;
            &::-webkit-slider-thumb{
                -webkit-appearance: none;
                width: 6px;
                height: 6px;
                cursor: ew-resize;
                background-color: $main-color;
            }
            &::-moz-range-thumb {
                -moz-appearance: none;
                width: 6px;
                height: 6px;
                cursor: ew-resize;
                background-color: $main-color;
            }
            &::-ms-thumb { 
                -ms-appearance: none;
                width: 6px;
                height: 6px;
                cursor: ew-resize;
                background-color: $main-color;
            }
            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                width: 300px;
                height: 1px;
                background-color: $main-color;
            }
            &::-moz-range-track {
                -moz-appearance: none;
                width: 300px;
                height: 1px;
                background-color: $main-color;
            }
            &::-ms-track { 
                border-color: transparent;
                color: transparent;
                appearance: none;
                width: 300px;
                height: 1px;
                background-color: $main-color;
            }
        }
    }

.search__input:invalid {
    border: 1px solid red;
}
.search__input:invalid + .search__placeholder {
    display: block;
  }
  .search__input:focus + .search__placeholder {
    display: none;
  }