.dropcontainer {
    position:relative;
    color: $main-color;
    text-decoration: none;
 } 
  
 .trigger {
    color: $main-color;
    text-align: center;
    text-decoration: none;
    padding: 21px;
    min-width: 321px;
    background: #fff url("../../img/arrow-close.png") 90% center no-repeat;
    display: block;
    border: 1px solid $main-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
 }
  
 .trigger:hover {
    color: $main-color;
    background: #fff url("../../img/arrow-close.png") 90% center no-repeat;
 }
  
 .activetrigger {
    color: $main-color;
    text-decoration: none;
    text-align: center;
    padding: 21px;
    min-width: 321px;
    background: #fff url("../../img/arrow-close.png") 90% center no-repeat;
    display: block;
    border: 1px solid $main-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
  
 .activetrigger:hover {
    background: #fff url("../../img/arrow-open.png") 90% center no-repeat;
    color: $main-color;
    text-decoration: none;
 }
  
 .activetrigger:active {
    background:#fff url("../../img/arrow-open.png") 90% center no-repeat;
    color: $main-color;
    text-decoration: none;
 }
  
 .dropcontainer ul {
    background: #fff;
    list-style-type: none;
    -webkit-box-shadow: 0px 9px 19px 2px rgba(130,118,134,0.58);
    -moz-box-shadow: 0px 9px 19px 2px rgba(130,118,134,0.58);
    box-shadow: 0px 9px 19px 2px rgba(130,118,134,0.58);
    border: none;
    padding: 21px;
    min-width: 321px;
    margin: 0;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
  
 .dropcontainer ul li {
    padding: 5px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
 }
  
 .dropcontainer ul li:hover {
    background: #fff;
    outline: none;
    text-decoration: none;
    
 }
  
 /*.dropcontainer ul li:first-child {
    display: none;
 }*/
  
 .dropcontainer ul li:last-child {
    border-bottom: none;
 }
  
 .dropdownhidden {
    display: none;
 }
  
 .dropdownvisible {
    height: auto;
 }

 .dropcontainer ul li a{
    text-decoration: none;
    color: $main-color;
    &:hover{
       color: $active-color;
    }
 }