.header{
    position: relative;
    &__wrapper{
        max-width: 1440px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        padding: 0 10px;

    }
    &__menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 170px;

    }
    &__title{
        font-family: 'RobotoBold', sans-serif; 
        font-size: 3.75rem;
        text-align: center;
        line-height: 70px;
    }
    &__text{
        max-width: 560px;
        text-align: center;
        margin: 0 auto;
        line-height: 24px;
        padding: 36px 0 62px;
    }

}
.slider{
    &__img{
    widows: 100%;
    height: 850px;
    object-fit: cover;
    object-position: center center;
    }
}
.slick-dots{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-indent: -9999px;
    margin: -2.9% auto;
    & > li{
        width: 8px;
        height: 8px;
        background-color: $main-color;
        opacity: 0.4;
        margin: 0 5px;
    }
    & > li.slick-active{
        background-color: #fff;
        opacity: 1;
    }
}

.logo{
    background-color: $main-color;
    padding: 32px;
    font-size: 1.875rem;
    margin-right: 34px;
}
.menu{
    flex: 0 0 37.5%;
    margin-left: 71px;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

    }
    &__item{
        padding: 0 10px;
    }
    &__link{
        text-decoration: none;
        color: #fff;
        &:hover{
            color:$active-color;
        }
    }
    &__burger{
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        fill: #ffffff;
        &:hover{
            svg{
                fill: $active-color;
            }
        }
    }
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    flex: 0 0 26%;
    &__city{
        &::before{
            content: "";
            width: 30px;
            height: 30px;
            padding-left: 35px;
            background-image: url("../../../img/mapsmark.svg");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
    &__tel{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        &::before{
            content: "";
            width: 40px;
            height: 40px;
            padding-left: 54px;
            background-image: url("../../../img/phone.svg");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover{
            color:$active-color;
        }

    }
}