<header class="header">
    <div class="slider">
        <div class="slider__item">
            <img class="slider__img" src="../../../img/bg-header1.jpg" alt="">
        </div>
        <div class="slider__item">
            <img class="slider__img" src="../../../img/bg-header1.jpg" alt="">
        </div>
        <div class="slider__item">
            <img class="slider__img" src="../../../img/bg-header1.jpg" alt="">
        </div>
    </div>
    <div class="header__wrapper">
        <div class="header__menu">
            <div class="logo">HOMEFOR</div>
            <div class="menu__burger">
               <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="menu " id="menu_"><path d="M29,6H3A1,1,0,0,0,3,8H29a1,1,0,0,0,0-2Z"/><path d="M3,17H16a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/><path d="M25,24H3a1,1,0,0,0,0,2H25a1,1,0,0,0,0-2Z"/></g></svg>
            </div>
            <nav class="menu"> 
                <ul class="menu__list">  
                    <li class="menu__item"><a class="menu__link" href="#">Загородные</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Городские</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Наши новости</a></li>
                </ul>
            </nav>
            <div class="contact">
                <div class="contact__city">Екатеринбург</div>
                <a class="contact__tel" href="tel:73833456012">+7 (383) 345-60-12</a>
            </div>
        </div>
        <h1 class="header__title">Жилой комплекс HOMEFOR&nbsp;-<br>&nbsp;это жизнь с комфортом</h1>
        <p class="header__text">Мы охватываем все важные этапы проектирование и строительство дома, а также повседневная эксплуатация после окончания</p>
        <button class="button button--white">Подробнее</button>
    </div>
</header>