@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "components/select.scss";
@import "components/search.scss";
@import "../blocks/modules";

*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
    color: $main-color;
    font-weight: 400;
    font-size: 16px;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
}
.button{
    font-size: 1.125rem;
    font-family: 'RobotoBold', sans-serif; 
    font-weight: 600px;
    padding: 23px 51px;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    &--white{
        background-color: #fff;
        color: $main-color;
        &:hover{
            color: $active-color;
        }
    }
}
