@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2'), url('../fonts/Roboto-Regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff2'), url('../fonts/Roboto-Bold.woff');
    font-weight: 600;
}